body {
    background-color: #FAFBFE;
}

.navheader {
    padding: 27px 28px 27px 75px;
    background-color: #FFFFFF;
    height: 85px;
}

.menubar {
    margin: 40px 15px 20px 15px;
    padding: 45px 28px 45px 28px;
    width: 210px;
    height: 523px;
    background-color: #FFFFFF;
    border-radius: 22px;
    box-shadow: 1px 1px 10px 3px rgba(149, 149, 149, 0.01);


}

.table1 {
    margin: 40px 15px 20px 15px;
    padding: 36px 28px 36px 28px;
    height: 523px;
    background-color: #FFFFFF;
    border-radius: 22px;
    box-shadow: 1px 1px 10px 3px rgba(149, 149, 149, 0.01);
}

.table {
    margin-top: 36px;
}

.table > thead > tr > th {
    border: none !important;
  }

.trheader {
    background-color: #D590FF;
}

.trheader > th:first-child {
    border-radius: 12px 0px 0px 0px;
}
.trheader > th:last-child {
    border-radius: 0px 12px 0px 0px;
}